<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <p class="col-8 col-sm-6">
    <% if task.completed %>
      <i class="far fa-check-square"></i>
    <% else %>
      <i class="far fa-square"></i>
    <% end %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "Delete",
            task_path(task),
            method: :delete,
            class: 'btn btn-danger float-right',
            data: { confirm: "Are you sure?" } %>
    <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-success float-right mr-2' %>
  </p>

<% end %>

<%= link_to "New Task", new_task_path, class: 'btn btn-primary' %>
